*.d
*.o
firmware
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
compile_commands.json
.vscode
/docs
k5_eeprom.raw
f4hwn
f4hwn.*
!archive/f4hwn*
_build/*
_tmp_chirp/*
_old_code/*
__Makefile
/src/dead_code